---
layout: default
---

<div class="landing">
  <div class="landing__inner">
    <div class="landing__text">
      <h1 class="landing__title">The Leeds Textile Trail</h1>
      <p class="landing__subtitle">Exploring the heritage of the fashion and textile industry across the city.</p>
      <a class="button is-large" href="/map">Start exploring</a>
    </div>
    <div class="landing__image">
      <img src="/uploads/Isabella_Ford.png" alt="Illustration of Isabella Ford sewing. Isabella organised female seamstresses to demand better working conditions">
    </div>
    <div class="landing__funders">
      <a href="https://museumsandgalleries.leeds.gov.uk" target="_blank">
        <img src="/assets/images/leedsmuseums.png" alt="Logo for Leeds Museums and Galleries">
      </a>
      <a href="https://www.thersa.org/" target="_blank">
        <img src="/assets/images/rsa.png" alt="Logo for the RSA (The Royal Society for arts, manufactures and commerce)">
      </a>
      <a href="https://www.zerowasteleeds.org.uk/" target="_blank">
        <img src="/assets/images/zwl-logo.svg" alt="Logo for Zero Waste Leeds">
      </a>
      <a href="https://leedscivictrust.org.uk/" target="_blank">
        <img src="/assets/images/leedscivictrust.png" alt="Logo for Leeds Civic Trust">
      </a>
    </div>
  </div>

</div>