---
permalink: /api/story/{{ story.data.name | slug }}.json
pagination:
  data: collections.stories
  size: 1
  alias: story
---
{% set data = story.data %}
{
  "slug": "{{ story.data.name | slugify }}",
  "name": "{{ story.data.name | striptags | safe }}",
  "title": "{{ story.data.title | striptags | safe }}",
  "image": "{{ story.data.image | striptags | safe }}",
  "content": "{{ story.templateContent | jsonify | safe }}",
  "location": {{ story.data.location | safe }},
  "location_name": "{{ story.data.location_name | striptags | safe }}",
  "photos": [
    {% for photo in story.data.photos %}
      {% if photo.file %}
        {
          {% if photo.caption %}"caption" : "{{ photo.caption | striptags | safe }}",{% endif %}
          {% if photo.date %}"date" : "{{ photo.date | striptags | safe }}",{% endif %}
          {% if photo.source %}"source" : "{{ photo.source | striptags | safe }}",{% endif %}
          "file": "{{ photo.file | safe}}"
        }{% if loop.last %}{% else %},{% endif %}
      {% endif %}
    {% endfor %}
  ],
  "previous": "{{ pagination.href.previous | replace('/api/story/', '') | replace('.json', '') }}",
  "next": "{{ pagination.href.next | replace('/api/story/', '') | replace('.json', '') }}"
}