---
permalink: /api/stories.json
---
[
  {% for story in collections.stories  %}
    {% set data = story.data %}
    {
      "slug": "{{ data.name | slugify }}",
      "name": "{{ data.name | safe }}",
      "teaser": "{{ data.teaser | safe }}",
      "title": "{{ data.title | safe }}",
      "location": {{ data.location | safe }},
      "active": {{ data.active  }}
    }{{ '' if loop.last else ',' }}
  {% endfor  %}
]