@font-face {
    font-family: 'Cooper';
    src: url('/assets/fonts/cooperm.woff2') format('woff2'),
         url('/assets/fonts/cooperm.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
